APP_HOST=localhost
APP_PORT=8100
COMPOSE_PROJECT_NAME=task-app
DB_VOLUME_NAME=task-app-dbdata
# Optional: override images (default to Docker Hub latest)
# APP_IMAGE=praffulpanwar2016/task-app-ci-cd-demo:latest
# NGINX_IMAGE=praffulpanwar2016/task-app-nginx:latest
